@import "./variables", "./reset", "./mixins", "./components/loading",
  "./components/chart", "./components/map", "./components/cards",
  "./components/header";

body {
  .bodywrapper {
    font-family: "Roboto", sans-serif;
    border-left: 1.5rem solid $secondary;
    border-right: 1.5rem solid $secondary;
    background: linear-gradient(
          90deg,
          $bg-color ($dot-space - $dot-size),
          transparent 1%
        )
        center,
      linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
      $dot-color;
    background-size: $dot-space $dot-space;
    min-height: 100vh;
    // -- // -- // -- //
    .main {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text;
      padding: 0 3rem;

      .row {
        width: 100%;
        height: 100%;
        .leftcolumn {
          padding: 1rem;
          min-height: 100%;
          .aligncontent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: stretch;
            height: 100%;
            .titlecountry {
              transition: all 1s ease;
              text-align: center;
              text-transform: uppercase;
              letter-spacing: 1.5rem;
              font-weight: bold;
              margin-bottom: 1rem;
              font-size: 3rem;
              text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
            }
            .paragraph {
              p {
                font-size: 2.3rem;
                text-align: center;
                margin: 1rem 0;
                padding: 0;

                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
        .colright {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          min-height: 100%;
          .svg {
            position: relative;
            display: flex;
            justify-content: center;
            width: 75%;
            // transform: translateY(-2rem);
            .float {
              color: $secondary;
              font-size: 6rem;
              animation: float 5s ease-in-out infinite;
              transform: translateY(-25rem);
              transition: all 1s ease;
              position: absolute;
              top: 5rem;
            }
          }

          @keyframes float {
            0% {
              transform: translatey(0px) rotate(-10deg);
            }
            50% {
              transform: translatey(-4rem) rotate(5deg);
            }
            100% {
              transform: translatey(0px) rotate(-10deg);
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 589px) {
  .mapContainer {
    width: 32rem;
  }
}
@media screen and (min-width: 589px) and (max-width: 1329px) {
  .mapContainer {
    width: 50rem;
  }
}
