@import "./variables", "./reset", "./mixins", "./components/loading",
  "./components/chart", "./components/map";

body {
  .main {
    background: $primary;
    color: $text;
    height: 100vh;
    border-left: 1.5rem solid $secondary;
    border-right: 1.5rem solid $secondary;
    padding: 3rem;

    // position: relative;

    header {
      display: flex;
      background-color: $primary;
      width: 100%;
      margin: 1rem;
      align-items: center;
      // height: 8rem;

      .brand {
        display: flex;
        align-items: center;
        .logo {
        }
        .covtr {
          color: $secondary;
          margin: 1rem;
          line-height: 0;
          transform: translateY(0.75rem);
          text-transform: uppercase;
          font-size: 2rem;
        }

        .nav {
          color: $secondary;
        }
      }

      .nav {
        display: flex;
        color: $secondary;
        align-items: flex-end;
        p {
          margin-left: 5rem;
        }
      }

      .selectList {
      }
    }

    .sideBar {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 12px;
      background-color: #404040;
      color: #ffffff;
      z-index: 3;
      padding: 6px;
      font-weight: bold;
    }
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #1a1a1a;
  border: 1px solid $secondary;
  color: $text;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: #1a1a1a;
  border: 1px solid $secondary;
  color: $text;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $secondary;
  color: $text;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $secondary;
  color: $text;
}
