.cards {
  display: flex;
  width: 100%;
  justify-content: center;
  .rowsb {
    justify-content: center;
    .colCard {
      display: flex;
      justify-content: center;
      .card {
        position: relative;
        height: 12rem;
        display: flex;
        color: #605f5f;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding: 1rem 2rem;
        min-width: 18rem;
        border-radius: 1rem;
        background-color: $primary;
        border: 0.1rem solid $secondary;
        border-bottom: inherit;
        transition: all 1s ease;
        .title {
          color: #5f5f5f;
          font-size: 1.2;
          opacity: 0.7;
          padding: -2rem;
        }

        .count {
          color: $text;
          font-weight: bold;
          font-size: 3rem;
        }

        .date {
          font-size: 1.2rem;
          color: #5f5f5f;
          opacity: 0.7;
        }

        .botText {
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
  }
}

.card {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.card:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
