.icon_float {
  position: absolute;
  font-size: 4rem;
  opacity: 0.4;
  color: $secondary;
}

.f1 {
  top: 10%;
  left: 50%;
}

.f2 {
  font-size: 8rem;
  transform: rotate(25deg);
  top: 70%;
  right: 1.5rem;
}

.f3 {
  font-size: 2rem;
  left: 95%;
}

.f4 {
  font-size: 2rem;
  top: 40%;
}

.f5 {
  font-size: 1.5rem;

  left: 55%;
  top: 90%;
}
