.loadingContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $secondary;
  color: $secondary;
  z-index: 1;

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .virusicon {
      color: $primary;
      font-size: 13rem;
      margin: 2rem;
      .moveup {
        transform: translateY(-10px);
      }

      animation: spin 30s linear infinite;
      transform: translateY(0rem);
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
    .img {
      width: 37rem;
    }
  }

  .sideStrip {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    background-color: $primary;
  }
}
