.mapContainer {
  // position: relative;
  height: 33rem;
  width: 60rem;
  // border-radius: 50%;
  border-radius: 10px;
  margin: 2rem 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 0;
}
